/* Menu Styles */
.primary-nav {
    position: fixed;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.open-panel {
    border: none;
    background-color: #fff;
    padding: 0;
}

.hamburger {
    background: #fff;
    position: relative;
    display: block;
    text-align: center;
    padding: 13px 0;
    width: 50px;
    height: 73px;
    left: 0;
    top: 0;
    z-index: 1000;
    cursor: pointer;
}

.hamburger:before {
    content: "\2630"; 
    display: block;
    color: #000;
    line-height: 32px;
    font-size: 16px;
}

.menu,
.menu a,
.menu a:visited {
    color: #aaa;
    text-decoration: none !important;
    position: relative;
}

.menu a {
    display: block;
    white-space: nowrap;
    padding: 1em;
    font-size: 14px;
}

.menu {
    position: absolute;
    display: block;
    left: -200px;
    top: 0;
    width: 250px;
    transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
    background-color: #000;
    z-index: 999;
}

.overflow-container {
    position: relative;
    height: calc(100vh - 73px) !important;
    overflow-y: auto;
    border-top: 73px solid #fff;
    z-index: -1;
    display: block;
}

.menu a.logotype {
    position: absolute !important;
    top: 11px;
    left: 55px;
    display: block;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: #000;
    font-size: 21px;
    padding: 10px;
}

.menu:hover {
    position: absolute;
    left: 0;
    top: 0;
}

@media screen and (min-width: 42em) {
    h1, .h1 { letter-spacing: -2px; }
    h1, .h1 { font-size: 3.157em; }
    h2, .h2 { font-size: 2.369em; }
    h3, .h3 { font-size: 1.777em; }
    h4, .h4 { font-size: 1.333em; }
    p { font-size: 1.0625em; }
    p.intro { font-size: 1.3em; }
}

@media screen and (min-width: 72em) {
    h1 { letter-spacing: -3px; }
    h1, .h1 { margin-bottom: 0.35em; font-size: 3.998em; }
    h2, .h2  { font-size: 2.827em; }
    h3, .h3 { font-size: 1.999em; }
    h4, .h4 { font-size: 1.414em; }
    p { font-size: 1.125em; }
    p.intro { font-size: 1.4em; }
}

.menu {
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #000;
    transition: left 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

.menu-open {
    left: 0;
}

#search-container {
    margin: 20px auto;
    text-align: center;
}

#search-input {
    padding: 8px;
    width: 60%;
}

#search-button {
    padding: 8px 16px;
    cursor: pointer;
}



/* Cntr Templates=============================>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.main {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.student-card {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.student-card:last-child {
    border-bottom: none;
}

.student-id {
    font-size: 1em;
    font-weight: bold;
    color: black;
}

.student-info {
    margin-top: 8px;
    color: rgb(27, 25, 25);
}

@media only screen and (max-width: 850px),
(max-width: 844px) {
    .student-id {
        font-size: 0.8em;
        font-weight: bold;
        color: black;
    }
}





/* register template==============================================>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
 .main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.formm {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.bt:hover {
    background-color: #45a049;
}