{% extends "base.html" %}

{% block b2 %}


<div class="main">
<div class="container" style="margin-top: 2px;">
    <h2>Payments Update Form</h2>
    <form class="formm" action="/pymtupdate/{{data.id}}" method="post">
        {% csrf_token %}
        <label for="date">Date:</label>
        <input type="date" value={{data.Date}} name="date" required>

        <label for="name">Name:</label>
        <input type="text" value={{data.Name}} name="name" required>

        <label for="paidFees">Paid Amount:</label>
        <input type="number" value={{data.Paid_Amount}} name="paid" required>

        <label for="modeOfPayment">Mode of Payment:</label>
        <select name="modeofpayment" required>
            <option value="cash" {% if data.Mode_of_payment == 'cash' %}selected{% endif %}>Cash</option>
            <option value="card" {% if data.Mode_of_payment == 'card' %}selected{% endif %}>Card</option>
            <option value="online" {% if data.Mode_of_payment == 'online' %}selected{% endif %}>Online</option>
        </select>

        <label for="balanceFees">Balance Amount:</label>
        <input type="number"  value={{data.Balance_amount}} name="balance" required>

        
        <button type="submit" class="bt">Update</button>
    </form>
</div>
</div>


{% endblock b2 %}

{% block title %}Update{% endblock title %}