{% extends "base.html" %}

{% block b2 %}


<div class="main">
    <header>
        <h1>Download Data</h1>
    </header>
    <form action="/searchdow" method="get">
        <div id="search-container">
            <input type="text" id="search-input" name="search-input" placeholder="Search by Name">
            <button id="search-button" type="submit">Search</button>
        </div>
    </form>
    {% if data %}
    {% for user in data %}
    <section>
        <div class="student-card">
            <div class="student-id" style="text-align: center;">ID: {{user.id}}</div>
            <div class="student-info" style="text-align: center;"><b>Date:</b> {{ user.Date }}</div>

            <div style="display : flex;justify-content: space-evenly;">
                <div class="student-info"><b>Name:</b> {{user.Name}}</div>
                <div class="student-info"><b>Father's Name:</b> {{ user.Father_name }}</div>
            </div>
            <div style="text-align: center;">
                <div class="student-info"><b>College:</b> {{ user.College }}</div>
            </div>

            <div style="display : flex;justify-content: space-evenly;">
                <div class="student-info"><b>Phone:</b> {{ user.Phone }}</div>
                <div class="student-info"><b>Alternate Phone:</b> {{ user.Alternate_phone }}</div>
            </div>

            <div class="student-info" style="text-align: center;"><b>Email:</b> {{ user.Email }}</div>

            <div style="display : flex;justify-content: space-evenly;">
                <div class="student-info"><b>Paid Amount:</b> {{ user.Paid_Amount }}</div>
                <div class="student-info"><b>Mode of Payment:</b> {{ user.Mode_of_payment }}</div>
                <div class="student-info"><b>Balance Amount:</b> {{ user.Balance_amount }}</div>
            </div>

            <div style="display : flex;justify-content: space-evenly;">
                <div class="student-info"><b>Type of Course:</b> {{ user.Type_of_course }}</div>
                <div class="student-info"><b>Courses Name:</b> {{ user.Cources_name }}</div>
                <div class="student-info"><b>Additional Course:</b> {{ user.additional_course }}</div>
            </div>
            <center>
                <div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal{{ user.id }}">
                        Download
                    </button>
                </div>
            </center>
        </div>

    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">R e c e i p t</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody{{ user.id }}">
                <div id="invoice{{ user.id }}">
                    <h3>Receipt</h3>
                    <dl style="display: grid;">
                        <h5>Details:</h5>
                        <div>
                            <dt>ID:</dt>
                            <dd>{{ user.id }}</dd>
                        </div>

                        <div>
                            <dt>Date:</dt>
                            <dd>{{ user.Date }}</dd>
                        </div>


                        <div>
                            <dt>Name:</dt>
                            <dd>{{ user.Name }}</dd>


                            <div>
                                <dt>Father's Name:</dt>
                                <dd>Mr. {{ user.Father_name }}</dd>
                            </div>

                            <div>
                                <dt>College:</dt>
                                <dd>{{ user.College }}</dd>
                            </div>

                            <div>
                                <dt>Phone:</dt>
                                <dd>+91 {{ user.Phone }}</dd>
                            </div>
                    </dl>
                    <dl>
                        <h5>Payments Details:</h5>

                        <div class="xyx" style="display: flex; justify-content: space-around;">
                            <div>
                                <dt>Paid Amount:</dt>
                                <dd>{{ user.Paid_Amount }}</dd>
                            </div>

                            <div>
                                <dt>Mode of Payment:</dt>
                                <dd>{{ user.Mode_of_payment }}</dd>
                            </div>
                        </div>

                        <div style="display: flex; justify-content: center;">
                            <dt>Balance Amount:</dt>
                            <dd>{{ user.Balance_amount }}</dd>
                        </div>
                    </dl>
                    <dl>
                        <h5>Course Details:</h5>

                        <div class="xyx" style="display: flex; justify-content: space-around;">
                            <div>
                                <dt>Type of Course:</dt>
                                <dd>{{ user.Type_of_course }}</dd>
                            </div>

                            <div>
                                <dt>Courses Name:</dt>
                                <dd>{{ user.Cources_name }}</dd>
                            </div>
                        </div>

                        <div style="display: flex;justify-content: center;">
                            <dt>Additional Course:</dt>
                            <dd>{{ user.additional_course }}</dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="download{{ user.id }}">Download</button>

            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p style="text-align: center;">Result Not Found</p>
{% endif %}
</div>


<script>
    window.onload = function () {
        {% for user in data %}
        document.getElementById("download{{ user.id }}").addEventListener("click", () => {
            const invoice = this.document.getElementById("invoice{{ user.id }}");
            var opt = {
                margin: 1,
                filename: 'Receipt.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };
            html2pdf().from(invoice).set(opt).save();
        });
        {% endfor %}
    }

</script>

{% endblock b2 %}

{% block title %}Download{% endblock title %}