{% extends "base.html" %}

{% block b2 %}


<div class="main">
    <header>
        <h1>Update Payment</h1>
    </header>
    <form action="/searchpym" method="get">
        <div id="search-container">
            <input type="text" id="search-input" name="search-input" placeholder="Search by Name">
            <button id="search-button" type="submit">Search</button>
        </div>
    </form>
    {% if data %}
    {% for user in data %}
    <section>
        <div class="student-card">
            <div class="student-id" style="text-align: center;">ID: {{user.id}}</div>

            <div class="student-info" style="text-align: center;"><b>Date:</b> {{ user.Date }}</div>

            <div class="student-info" style="text-align: center;"><b>Name:</b> {{user.Name}}</div>

            <div style="display : flex;justify-content: space-evenly;">
            <div class="student-info"><b>Paid Amount:</b> {{ user.Paid_Amount }}</div>
            <div class="student-info"><b>Mode of Payment:</b> {{ user.Mode_of_payment }}</div>
            <div class="student-info"><b>Balance Amount:</b> {{ user.Balance_amount }}</div>
            </div>

            <center>
            <div class="action-buttons">
                <form action="/updatepymts/{{user.id}}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">
                    Update
                </button>
                </form>
            </div>
        </center>
        </div>

    </section>
    {% endfor %}
    {% else %}
        <p style="text-align: center;">Result Not Found</p>
    {% endif %}
    </div>

{% endblock b2 %}

{% block title %}Payments{% endblock title %}