{% extends "base.html" %}

{% block b2 %}


<div class="main">
    <header>
        <h1>Student Data</h1>
    </header>
    <form action="/search" method="get">
        <div id="search-container">
            <input type="text" id="search-input" name="search-input" placeholder="Search by Name">
            <button id="search-button" type="submit">Search</button>
        </div>
    </form>



    {% for user in data %}
    <section>
        <div class="student-card">
            <div class="student-id" style="text-align: center;">ID: {{user.id}}</div>
            <div class="student-info" style="text-align: center;"><b>Date:</b> {{ user.Date }}</div>

            <div style="display : flex;justify-content: space-evenly;">
                <div class="student-info"><b>Name:</b> {{user.Name}}</div>
                <div class="student-info"><b>Father's Name:</b> {{ user.Father_name }}</div>
            </div>
            <div style="text-align: center;">
                <div class="student-info"><b>College:</b> {{ user.College }}</div>
            </div>

            <div style="display : flex;justify-content: space-evenly;">
                <div class="student-info"><b>Phone:</b> {{ user.Phone }}</div>
                <div class="student-info"><b>Alternate Phone:</b> {{ user.Alternate_phone }}</div>
            </div>

            <div class="student-info" style="text-align: center;"><b>Email:</b> {{ user.Email }}</div>

            <div style="display : flex;justify-content: space-evenly;">
                <div class="student-info"><b>Paid Amount:</b> {{ user.Paid_Amount }}</div>
                <div class="student-info"><b>Mode of Payment:</b> {{ user.Mode_of_payment }}</div>
                <div class="student-info"><b>Balance Amount:</b> {{ user.Balance_amount }}</div>
            </div>

            <div style="display : flex;justify-content: space-evenly;">
                <div class="student-info"><b>Type of Course:</b> {{ user.Type_of_course }}</div>
                <div class="student-info"><b>Courses Name:</b> {{ user.Cources_name }}</div>
                <div class="student-info"><b>Additional Course:</b> {{ user.additional_course }}</div>
            </div>
        </div>

    </section>
    {% endfor %}
</div>


{% endblock b2 %}

{% block title %}Students Data{% endblock title %}