{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "img/logo.png" %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static "css/login.css" %}">

    <title>Login||Excellence</title>
</head>

<body>

    <div>
        <form action="loggedin" method="post">
            {% csrf_token %}

            <div class="mb-3">
                <h2 style="text-align: center; margin-bottom: 30px;">Login</h2>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>

            <button type="submit" class="btn-primary">Submit</button>
        </form>
        <p>Back to <a href="home">Home</a>!</p>
    </div>

</body>

</html>
